html {
    color: white;
    background-color: black;
    font-family: sans-serif;
}

main {
    max-width: 800px;
}

a:link {
    color: #0d98ff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #bb33ff;
}

.post, .comment {
    display: flex;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

.left {
    min-width: 40px;
    margin: 0 10px;
}

.right {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
}

.media {
    max-width: 600px;
}

.border {
    border: thin solid white;
    padding: 10px 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

a.nsfw {
    color: red;
}

.pad {
    padding: 4px 0;
}

.space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
